.date {
  display: flex;
  flex-direction: column;
  font-size: 15px;
  line-height: 18px;
  letter-spacing: -0.5px;
  margin-top: 22px;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    margin-top: 44px;
    padding-left: 61px;
    letter-spacing: -0.67px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 0;
    margin: 36px 0 0 86px;
  }
}

.date__block {
  display: flex;
  flex-direction: row;
  padding-bottom: 18px;
}