.discount {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: -53px;
  left: 50%;
  width: 110px;
  height: 104px;
  background: $black;
  margin-left: -55px;

  @media (min-width: $tablet-width) {
    top: -20px;
  }

  @media (min-width: $desktop-width) {
    width: 112px;
  }
}

.discount::before {
  @include pseudo;
  bottom: -16px;
  left: 0;
  border: 13px solid transparent;
  border-top: 3px solid $black;
  border-right: 42px solid $black;

  @media (min-width: $desktop-width) {
    bottom: -17px;
    border-top: 4px solid #000000;
    border-right: 43px solid #000000;
  }
}

.discount::after {
  @include pseudo;
  bottom: -16px;
  right: 0;
  border: 13px solid transparent;
  border-left: 42px solid $black;
  border-top: 3px solid $black;

  @media (min-width: $desktop-width) {
    bottom: -17px;
    border-left: 43px solid $black;
    border-top: 4px solid $black;
  }
}

.discount__line {
  margin: 0;
}