.places {
  @media (min-width: $tablet-width) {
    padding-left: 51px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 37px;
  }

  .text {
    @media (min-width: $desktop-width) {
      padding-right: 8px;
    }
  }
}

.places__block {
  margin: 0;
}