$tablet-width: 770px;
$desktop-width: 1170px;
$retina-dppx: 1.5dppx;
$white: #ffffff;
$border: #E6E8F0;
$black: #000000;
$blue: #3D3BFF;
$green: #7CE187;
$red: #FF0000;
$purple: #8B89FF;
$dark: #657195;
$gray: rgba(255, 255, 255, 0.4);
$shadow: rgba(168, 175, 196, 0.3);
